@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..800&display=swap');
@import url('./styles/variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  @apply text-slate-900;
}

.dark-green {
  background-color: var(--app-dark-green);
}
.light-green {
  background-color: var(--app-light-green);
}
.blue {
  background-color: var(--app-blue);
}

.btn-color {
  background: linear-gradient(
    to right,
    var(--app-light-green),
    var(--app-dark-green)
  );
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.btn-color:hover {
  transform: scale(1.06);
}

.border-btn {
  border: 3px solid var(--app-dark-green);
}

.btn-color-hover:hover {
  background: linear-gradient(
    to right,
    var(--app-light-green),
    var(--app-dark-green)
  );
  transition: 0.5s ease-in-out;
  transform: scale(1.06);
}

input {
  background: transparent;
  outline: none;
}

.top-bar::-webkit-scrollbar {
  background-color: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  background-color: none;
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--app-dark-green);
  border-radius: 7px;
}

.scale:hover {
  transform: scale(1.04);
}

/* General slider styles */
.custom-range {
 -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #00b300 50%, #ddd 50%);
  border-radius: 5px;
  outline: none;
  transition: background 0.15s ease-in-out;
}

/* Track styling for WebKit browsers */
.custom-range::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
}

/* Thumb styling for WebKit browsers */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #00b300;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px; /* Centers the thumb */
}

/* Track styling for Firefox */
.custom-range::-moz-range-track {
  height: 8px;
  border-radius: 5px;
  background: #ddd;
}

/* Thumb styling for Firefox */
.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #00b300;
  cursor: pointer;
  border-radius: 50%;
}

/* Track styling for IE */
.custom-range::-ms-track {
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  color: transparent;
}

/* Thumb styling for IE */
.custom-range::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #00b300;
  cursor: pointer;
  border-radius: 50%;
}
